.bookmark-list {
  ul {
    border: 2px solid var(--border-color);
    border-radius: 12px;
    padding: 2px;
  }

  & li {
    &:not(:first-child) {
      margin-top: 0.125rem;
    }

    & a {
      border-radius: 8px;
      padding: 0.5rem 1rem;
      display: block;
      width: 100%;

      &:hover {
        background-color: var(--gray-100);
      }
    }
  }
}

form[name="add-bookmark-form"] .react-aria-TextField {
  width: 100%;
}
